In [1]:
import pandas as pd
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'currencies.csv',
 'description.pdf',
 'exchanges.csv',
 'exploring.ipynb',
 'prices.csv',
 'python.py',
 'README.md',
 'weights.csv']

In [3]:
prices = pd.read_csv('prices.csv')
weights = pd.read_csv('weights.csv')
exchanges = pd.read_csv('weights.csv')
currencies = pd.read_csv('currencies.csv')

In [4]:
prices.head()

,date,AT0000A18XM4 SW,BE0974268972 BB,DE0007164600 GR,US0527691069 US,US6092071058 US
0,2014-01-13,22.60,14.27,60.750,51.57,35.20
1,2014-01-14,22.60,14.30,60.440,52.64,35.40
2,2014-01-15,22.84,14.27,60.990,53.29,35.70
3,2014-01-16,22.90,14.31,60.913,53.60,35.70
4,2014-01-17,22.74,14.41,60.730,53.24,35.25

In [5]:
weights.head()

,Unnamed: 0,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
0,2014-01-14,0.184660,0.275706,0.303425,0.042841,0.193368
1,2014-01-15,0.225875,0.147861,0.151211,0.224074,0.250978
2,2014-01-16,0.261017,0.334213,0.293336,0.015744,0.095690
3,2014-01-17,0.160168,0.231034,0.092674,0.269050,0.247074
4,2014-01-18,0.057162,0.254146,0.027286,0.480660,0.180746

In [7]:
currencies.head()

        Unnamed: 0 currency
0  AT0000A18XM4 SW      CHF
1  BE0974268972 BB      EUR
2  US0527691069 US      USD
3  DE0007164600 GR      EUR
4  US6092071058 US      USD

In [8]:
exchanges.head()

,Unnamed: 0,AT0000A18XM4 SW,BE0974268972 BB,US0527691069 US,DE0007164600 GR,US6092071058 US
0,2014-01-14,0.184660,0.275706,0.303425,0.042841,0.193368
1,2014-01-15,0.225875,0.147861,0.151211,0.224074,0.250978
2,2014-01-16,0.261017,0.334213,0.293336,0.015744,0.095690
3,2014-01-17,0.160168,0.231034,0.092674,0.269050,0.247074
4,2014-01-18,0.057162,0.254146,0.027286,0.480660,0.180746

In [73]:
exchanges.columns = prices.columns
weights.columns = prices.columns

In [21]:
exchanges['date'] = pd.to_datetime(exchanges['date'])
weights['date'] = pd.to_datetime(weights['date'])
prices['date'] = pd.to_datetime(prices['date'])

In [22]:
exchanges.head()

,date,AT0000A18XM4 SW,BE0974268972 BB,DE0007164600 GR,US0527691069 US,US6092071058 US
0,2014-01-14,0.184660,0.275706,0.303425,0.042841,0.193368
1,2014-01-15,0.225875,0.147861,0.151211,0.224074,0.250978
2,2014-01-16,0.261017,0.334213,0.293336,0.015744,0.095690
3,2014-01-17,0.160168,0.231034,0.092674,0.269050,0.247074
4,2014-01-18,0.057162,0.254146,0.027286,0.480660,0.180746

In [23]:
import numpy as np

In [25]:
def calculate_asset_performance(start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
    mask = (prices['date'] > start_date) &&
    return "kek"

In [34]:
mask = (prices['date'] > np.datetime64('2014-02-01')  - pd.to_timedelta("1day")) & (prices['date'] <  np.datetime64('2014-05-06') - pd.to_timedelta("1day"))

In [38]:
prices.date.between('2014-02-01' - pd.to_timedelta("1day"), '2014-05-06', inclusive=True)

TypeError: unsupported operand type(s) for -: 'str' and 'Timedelta'

In [9]:
start = np.datetime64('2014-02-01') 
end = np.datetime64('2014-05-06')

In [54]:
def calculate_asset_performance(start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
    pt = prices[prices.date.between(start_date, end_date, inclusive=True)].iloc[:, 1:]
    pt0 = prices[prices.date.between(start_date - pd.to_timedelta("1day"), end_date - pd.to_timedelta("1day"),inclusive=True)].iloc[:, 1:]
    res = (pt + pt0) / pt0
    return res

In [59]:
pt = prices[prices.date.between(start, end, inclusive=True)].iloc[:, 1:]
pt

,AT0000A18XM4 SW,BE0974268972 BB,DE0007164600 GR,US0527691069 US,US6092071058 US
15,21.70,14.530,55.590,49.33,32.080
16,21.04,14.400,55.700,50.12,32.010
17,20.60,14.480,55.528,49.96,32.090
18,20.56,14.400,56.290,50.96,32.700
19,20.78,14.350,56.330,51.99,32.930
20,20.84,14.600,56.010,52.28,33.120
21,20.84,14.730,57.410,52.92,33.280
22,21.08,15.250,57.490,53.77,33.210
23,21.42,15.310,57.850,54.13,34.010
24,21.74,15.300,58.250,54.17,34.120
25,21.96,15.300,58.300,54.17,34.120
26,21.66,15.320,58.361,54.52,34.190
27,21.52,15.240,57.840,54.47,34.260
28,21.34,15.300,57.980,54.90,34.480
29,21.60,15.240,57.950,55.40,34.300
30,21.84,15.050,58.150,54.47,34.400
31,21.88,15.180,58.230,54.66,33.950
32,21.78,15.200,58.060,54.72,33.920
33,22.00,15.250,58.110,54.28,33.850
34,22.48,15.350,58.070,52.48,34.030
35,21.92,15.200,56.560,51.67,33.800
36,22.90,15.130,57.530,53.50,34.310
37,23.00,15.130,57.000,53.44,34.330
38,23.94,15.350,57.150,53.74,34.880
39,23.88,15.110,56.200,53.61,35.080
40,23.86,15.310,55.750,52.59,35.080
41,23.80,16.000,55.920,52.81,34.970
42,23.20,15.720,55.190,52.34,34.900
43,23.12,15.800,53.990,50.47,34.530
44,22.44,15.850,54.150,50.47,34.250
...,...,...,...,...,...
52,24.92,15.970,57.450,48.68,34.170
53,24.84,16.100,57.850,48.28,34.210
54,24.90,16.240,58.420,48.34,34.400
55,24.80,16.250,58.920,49.18,34.550
56,24.78,16.330,59.150,50.07,34.820
57,25.76,16.550,58.730,49.58,34.920
58,25.54,16.550,58.890,48.31,34.770
59,25.20,16.500,58.790,47.32,34.540
60,25.06,16.310,57.840,46.59,34.225
61,24.54,16.260,58.290,47.15,34.600
62,25.62,16.450,58.740,48.49,34.950
63,25.92,16.700,57.580,45.97,34.710
64,25.04,16.560,56.640,45.19,34.310
65,24.46,16.550,57.660,45.83,34.450
66,23.92,16.395,57.830,46.82,34.260
67,24.08,16.200,58.980,47.55,34.770
68,24.26,16.440,57.840,48.49,34.650
69,24.26,16.440,57.840,48.49,34.650
70,24.26,16.440,57.840,48.40,34.780
71,25.86,16.485,57.710,49.01,35.030
72,25.62,16.500,57.470,48.23,35.110
73,25.16,16.500,57.160,47.72,35.300
74,24.80,16.450,56.320,47.00,35.340
75,24.16,16.255,56.640,46.62,35.940
76,26.86,16.340,57.510,47.57,35.605
77,26.48,16.235,58.240,48.02,35.650
78,26.48,16.235,58.240,48.42,35.630
79,25.70,16.200,57.620,47.68,35.480
80,25.88,16.200,56.580,47.52,35.610
81,25.84,16.240,56.130,47.03,35.220

In [60]:
pt0 = prices[prices.date.between(start- pd.to_timedelta("1day"), end - pd.to_timedelta("1day"),inclusive=True)].iloc[:, 1:]
pt0

,AT0000A18XM4 SW,BE0974268972 BB,DE0007164600 GR,US0527691069 US,US6092071058 US
14,22.30,14.450,56.760,51.25,32.760
15,21.70,14.530,55.590,49.33,32.080
16,21.04,14.400,55.700,50.12,32.010
17,20.60,14.480,55.528,49.96,32.090
18,20.56,14.400,56.290,50.96,32.700
19,20.78,14.350,56.330,51.99,32.930
20,20.84,14.600,56.010,52.28,33.120
21,20.84,14.730,57.410,52.92,33.280
22,21.08,15.250,57.490,53.77,33.210
23,21.42,15.310,57.850,54.13,34.010
24,21.74,15.300,58.250,54.17,34.120
25,21.96,15.300,58.300,54.17,34.120
26,21.66,15.320,58.361,54.52,34.190
27,21.52,15.240,57.840,54.47,34.260
28,21.34,15.300,57.980,54.90,34.480
29,21.60,15.240,57.950,55.40,34.300
30,21.84,15.050,58.150,54.47,34.400
31,21.88,15.180,58.230,54.66,33.950
32,21.78,15.200,58.060,54.72,33.920
33,22.00,15.250,58.110,54.28,33.850
34,22.48,15.350,58.070,52.48,34.030
35,21.92,15.200,56.560,51.67,33.800
36,22.90,15.130,57.530,53.50,34.310
37,23.00,15.130,57.000,53.44,34.330
38,23.94,15.350,57.150,53.74,34.880
39,23.88,15.110,56.200,53.61,35.080
40,23.86,15.310,55.750,52.59,35.080
41,23.80,16.000,55.920,52.81,34.970
42,23.20,15.720,55.190,52.34,34.900
43,23.12,15.800,53.990,50.47,34.530
...,...,...,...,...,...
51,24.44,15.850,56.880,49.78,34.290
52,24.92,15.970,57.450,48.68,34.170
53,24.84,16.100,57.850,48.28,34.210
54,24.90,16.240,58.420,48.34,34.400
55,24.80,16.250,58.920,49.18,34.550
56,24.78,16.330,59.150,50.07,34.820
57,25.76,16.550,58.730,49.58,34.920
58,25.54,16.550,58.890,48.31,34.770
59,25.20,16.500,58.790,47.32,34.540
60,25.06,16.310,57.840,46.59,34.225
61,24.54,16.260,58.290,47.15,34.600
62,25.62,16.450,58.740,48.49,34.950
63,25.92,16.700,57.580,45.97,34.710
64,25.04,16.560,56.640,45.19,34.310
65,24.46,16.550,57.660,45.83,34.450
66,23.92,16.395,57.830,46.82,34.260
67,24.08,16.200,58.980,47.55,34.770
68,24.26,16.440,57.840,48.49,34.650
69,24.26,16.440,57.840,48.49,34.650
70,24.26,16.440,57.840,48.40,34.780
71,25.86,16.485,57.710,49.01,35.030
72,25.62,16.500,57.470,48.23,35.110
73,25.16,16.500,57.160,47.72,35.300
74,24.80,16.450,56.320,47.00,35.340
75,24.16,16.255,56.640,46.62,35.940
76,26.86,16.340,57.510,47.57,35.605
77,26.48,16.235,58.240,48.02,35.650
78,26.48,16.235,58.240,48.42,35.630
79,25.70,16.200,57.620,47.68,35.480
80,25.88,16.200,56.580,47.52,35.610

In [63]:
c = (pt.values - pt0.values) / pt0.values

In [65]:
len(c)

67

In [68]:
len(c.sum(axis=1))

67

In [56]:
prices.iloc[:, 1:]

,AT0000A18XM4 SW,BE0974268972 BB,DE0007164600 GR,US0527691069 US,US6092071058 US
0,22.60,14.27,60.750,51.57,35.20
1,22.60,14.30,60.440,52.64,35.40
2,22.84,14.27,60.990,53.29,35.70
3,22.90,14.31,60.913,53.60,35.70
4,22.74,14.41,60.730,53.24,35.25
5,23.10,14.46,60.780,53.24,35.25
6,22.88,14.48,59.980,53.30,34.45
7,22.90,14.45,59.170,52.37,34.45
8,22.50,14.25,57.800,51.86,34.45
9,21.52,14.39,56.430,50.44,33.65
10,21.66,14.40,57.150,50.59,33.61
11,21.50,14.37,56.840,51.24,33.73
12,21.64,14.39,56.390,49.65,32.99
13,22.72,14.42,57.410,51.52,32.93
14,22.30,14.45,56.760,51.25,32.76
15,21.70,14.53,55.590,49.33,32.08
16,21.04,14.40,55.700,50.12,32.01
17,20.60,14.48,55.528,49.96,32.09
18,20.56,14.40,56.290,50.96,32.70
19,20.78,14.35,56.330,51.99,32.93
20,20.84,14.60,56.010,52.28,33.12
21,20.84,14.73,57.410,52.92,33.28
22,21.08,15.25,57.490,53.77,33.21
23,21.42,15.31,57.850,54.13,34.01
24,21.74,15.30,58.250,54.17,34.12
25,21.96,15.30,58.300,54.17,34.12
26,21.66,15.32,58.361,54.52,34.19
27,21.52,15.24,57.840,54.47,34.26
28,21.34,15.30,57.980,54.90,34.48
29,21.60,15.24,57.950,55.40,34.30
...,...,...,...,...,...
1061,76.82,27.06,92.260,116.90,44.59
1062,76.80,26.90,90.770,116.87,44.47
1063,76.58,27.00,92.080,117.78,44.42
1064,89.54,26.92,91.280,116.38,44.54
1065,85.90,26.64,89.500,115.02,44.34
1066,85.88,26.78,90.960,115.62,44.40
1067,90.08,26.92,89.300,115.57,45.87
1068,90.24,26.80,87.640,111.64,45.50
1069,87.14,26.82,85.410,109.18,43.94
1070,98.60,26.30,87.350,112.62,44.55
1071,103.65,27.56,86.000,110.54,44.05
1072,107.70,27.16,83.230,104.81,42.68
1073,103.50,27.16,83.530,105.94,42.14
1074,104.70,27.34,83.420,108.38,42.53
1075,105.60,27.28,83.140,109.79,42.80
1076,110.25,27.50,84.440,109.92,42.96
1077,114.10,27.56,84.260,113.52,44.08
1078,109.80,28.12,84.420,112.95,44.14
1079,109.90,27.92,84.030,112.95,44.14
1080,110.85,28.24,84.500,114.27,43.76
1081,111.20,28.28,84.060,112.37,43.62
1082,109.00,28.18,84.300,112.39,43.51
1083,111.15,28.04,84.860,115.03,43.75
1084,109.20,28.06,85.250,116.92,44.77
1085,111.50,27.84,85.260,116.12,44.01
1086,111.85,27.88,85.610,117.47,43.90
1087,108.80,27.60,83.170,114.74,43.62
1088,105.45,27.16,83.030,116.28,44.42
1089,NaN,NaN,NaN,NaN,NaN
1090,110.60,27.34,84.650,118.87,45.06

In [117]:
import pandas as pd
import numpy as np


class Assignment:
    day = pd.to_timedelta("1day")

    def __init__(self):
        self.prices = pd.read_csv("prices.csv", index_col=0)
        self.exchanges = pd.read_csv("exchanges.csv", index_col=0)
        self.currencies = pd.read_csv("currencies.csv")
        self.weights = pd.read_csv("weights.csv", index_col=0)

        # Decided to fill NaN with the mean.
        self.prices.fillna(self.prices.mean(), inplace=True)
        self.exchanges.fillna(self.exchanges.mean(), inplace=True)
        self.weights.fillna(self.weights.mean(), inplace=True)

        # The right order of the columns.
        self.prices = self.prices[list(self.currencies.iloc[:, 0])]
        self.weights = self.weights[self.prices.columns]

        # Readable tags.
        self.prices.columns = self.currencies.currency.values
        self.weights.columns = self.currencies.currency.values

        self.exchanges.index = pd.to_datetime(self.exchanges.index)
        self.weights.index = pd.to_datetime(self.weights.index)
        self.prices.index = pd.to_datetime(self.prices.index)

    def calculate_asset_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        pt = self.prices[start_date:end_date]
        pt0 = self.prices[start_date-self.day:end_date-self.day]
        w = self.weights[start_date:end_date]
        w.columns = range(len(w.columns))
        
        # Prices and weights have the different nums of rows.
        # So let's use left outer join to prevent an error.
        f = pd.merge(pt, w, how='left', left_index=True, right_index=True)
        w = f[[i for i in f.columns if isinstance(i, int)]]
        
        # Decided to fillna with the mean.
        w = w.fillna(w.mean()).values
        
        r = (pt.values-pt0.values) / pt0.values
        rs = (r*w).sum(axis=1)
        p = np.empty(len(rs+1))
        p[0] = 1
        for i in range(1, len(p)):
            p[i] = p[i-1] * (1+rs[i-1])
        return pd.Series(p[1:])

    def calculate_currency_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        ct = self.exchanges[start_date:end_date]
        ct0 = self.exchanges[start_date-self.day:end_date-self.day]
        
        # To sum up the EUR weights.
        w = self.weights[start_date:end_date][self.exchanges.columns].groupby(level=0, axis=1).sum()
        w.columns = range(len(w.columns))
        
        # Same stuff.
        f = pd.merge(ct, w, how='left', left_index=True, right_index=True)
        w = f[[i for i in f.columns if isinstance(i, int)]]
        w = w.fillna(w.mean()).values
        
        cr = (ct.values-ct0.values) / ct0.values
        crs = (cr*w).sum(axis=1)
        cp = np.empty(len(crs + 1))
        cp[0] = 1
        for i in range(1, len(cp)):
            cp[i] = cp[i-1] * (1 + crs[i-1])
        return pd.Series(cp[1:])
    
    def calculate_total_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        p = self.

In [179]:
kek = Assignment()

In [180]:
kek.calculate_currency_performance(start, end)

0     1.000000
1     1.001688
2     1.001723
3     1.001917
4     1.001317
5     0.999918
6     1.000662
7     0.995379
8     0.993959
9     0.993889
10    0.994416
11    0.997144
12    0.995267
13    0.997107
14    0.999556
15    1.000829
16    1.000846
17    1.000895
18    1.001297
19    1.000437
20    1.000389
21    1.002532
22    1.003009
23    1.003168
24    1.003460
25    1.004261
26    1.005590
27    1.004851
28    1.005218
29    1.006220
        ...
66    1.004645
67    1.005615
68    1.005003
69    1.002418
70    1.000774
71    1.000160
72    1.000159
73    1.000610
74    1.002707
75    1.005040
76    1.007463
77    1.009326
78    1.009491
79    1.009078
80    1.008020
81    1.006544
82    1.006504
83    1.006138
84    1.005651
85    1.005492
86    1.005560
87    1.005318
88    1.004494
89    1.004577
90    1.005344
91    1.005854
92    1.005853
93    1.006015
94    1.006484
95    1.006128
Length: 96, dtype: float64

In [34]:
kek.exchanges.columns

Index(['EUR', 'CHF'], dtype='object')

In [35]:
kek.exchanges.head()

                EUR       CHF
2014-01-14  1.36150  1.106134
2014-01-15  1.35772  1.099759
2014-01-16  1.36040  1.097418
2014-01-17  1.36663  1.102481
2014-01-18  1.36674  1.107972

In [36]:
kek.weights.head()

                 CHF       EUR       USD       EUR       USD
2014-01-14  0.184660  0.275706  0.303425  0.042841  0.193368
2014-01-15  0.225875  0.147861  0.151211  0.224074  0.250978
2014-01-16  0.261017  0.334213  0.293336  0.015744  0.095690
2014-01-17  0.160168  0.231034  0.092674  0.269050  0.247074
2014-01-18  0.057162  0.254146  0.027286  0.480660  0.180746

In [23]:
c = kek.prices.EUR.mul(kek.exchanges.EUR, axis=0)

In [25]:
kek.prices.head(5)

              CHF    EUR    USD     EUR    USD
date
2014-01-13  22.60  14.27  51.57  60.750  35.20
2014-01-14  22.60  14.30  52.64  60.440  35.40
2014-01-15  22.84  14.27  53.29  60.990  35.70
2014-01-16  22.90  14.31  53.60  60.913  35.70
2014-01-17  22.74  14.41  53.24  60.730  35.25

In [40]:
len(kek.weights)

1081

In [22]:
kek.exchanges.describe()

               EUR          CHF
count  1080.000000  1080.000000
mean      1.170710     1.041755
std       0.099635     0.042506
min       1.041400     0.970827
25%       1.098144     1.010910
50%       1.129685     1.031721
75%       1.227066     1.064396
max       1.393055     1.170097

In [31]:
~kek.exchanges.index.isin(kek.prices.index)

array([False, False, False, ..., False, False, False])

In [85]:
b = kek.prices[start:end]
c = kek.weights[start:end]

In [81]:
c.columns = range(len(b.columns))

In [86]:
f = pd.merge(b, c, how='left', left_index=True, right_index=True, suffixes=["0", "1"])

In [87]:
f

,CHF0,EUR0,USD0,EUR0,USD0,CHF1,EUR1,USD1,EUR1,USD1
date,,,,,,,,,,
2014-02-03,21.70,14.530,49.33,55.590,32.080,NaN,NaN,NaN,NaN,NaN
2014-02-04,21.04,14.400,50.12,55.700,32.010,0.188509,0.011219,0.280615,0.117581,0.402075
2014-02-05,20.60,14.480,49.96,55.528,32.090,0.208654,0.227626,0.192785,0.158525,0.212410
2014-02-06,20.56,14.400,50.96,56.290,32.700,0.205721,0.052736,0.137994,0.343435,0.260114
2014-02-07,20.78,14.350,51.99,56.330,32.930,0.065086,0.301828,0.310149,0.240458,0.082479
2014-02-10,20.84,14.600,52.28,56.010,33.120,NaN,NaN,NaN,NaN,NaN
2014-02-11,20.84,14.730,52.92,57.410,33.280,0.247983,0.444204,0.243792,0.048652,0.015369
2014-02-12,21.08,15.250,53.77,57.490,33.210,0.015851,0.309983,0.135621,0.327433,0.211113
2014-02-13,21.42,15.310,54.13,57.850,34.010,0.448070,0.241961,0.003992,0.034937,0.271040
2014-02-14,21.74,15.300,54.17,58.250,34.120,0.231040,0.133393,0.209130,0.396449,0.029988
2014-02-17,21.96,15.300,54.17,58.300,34.120,NaN,NaN,NaN,NaN,NaN
2014-02-18,21.66,15.320,54.52,58.361,34.190,0.189803,0.243553,0.243475,0.045214,0.277955
2014-02-19,21.52,15.240,54.47,57.840,34.260,0.094493,0.358315,0.359784,0.069687,0.117722
2014-02-20,21.34,15.300,54.90,57.980,34.480,0.141192,0.197459,0.171256,0.184180,0.305913
2014-02-21,21.60,15.240,55.40,57.950,34.300,0.190619,0.028634,0.331367,0.220732,0.228648
2014-02-24,21.84,15.050,54.47,58.150,34.400,NaN,NaN,NaN,NaN,NaN
2014-02-25,21.88,15.180,54.66,58.230,33.950,0.117818,0.252250,0.002987,0.313677,0.313268
2014-02-26,21.78,15.200,54.72,58.060,33.920,0.224623,0.266772,0.073641,0.182422,0.252541
2014-02-27,22.00,15.250,54.28,58.110,33.850,0.258339,0.277547,0.112707,0.234654,0.116753
2014-02-28,22.48,15.350,52.48,58.070,34.030,0.441111,0.246761,0.009508,0.059872,0.242748
2014-03-03,21.92,15.200,51.67,56.560,33.800,NaN,NaN,NaN,NaN,NaN
2014-03-04,22.90,15.130,53.50,57.530,34.310,0.295339,0.099257,0.461356,0.065185,0.078863
2014-03-05,23.00,15.130,53.44,57.000,34.330,0.055192,0.178045,0.270527,0.128127,0.368109
2014-03-06,23.94,15.350,53.74,57.150,34.880,0.171128,0.182936,0.332453,0.076895,0.236588
2014-03-07,23.88,15.110,53.61,56.200,35.080,0.122368,0.300809,0.352075,0.119287,0.105461
2014-03-10,23.86,15.310,52.59,55.750,35.080,NaN,NaN,NaN,NaN,NaN
2014-03-11,23.80,16.000,52.81,55.920,34.970,0.352993,0.315911,0.080147,0.162712,0.088238
2014-03-12,23.20,15.720,52.34,55.190,34.900,0.150708,0.365534,0.073625,0.166310,0.243824
2014-03-13,23.12,15.800,50.47,53.990,34.530,0.056238,0.116906,0.062674,0.503873,0.260309
2014-03-14,22.44,15.850,50.47,54.150,34.250,0.341517,0.171929,0.089712,0.097028,0.299814
...,...,...,...,...,...,...,...,...,...,...
2014-03-26,24.92,15.970,48.68,57.450,34.170,0.203875,0.276909,0.162601,0.291553,0.065062
2014-03-27,24.84,16.100,48.28,57.850,34.210,0.030517,0.388574,0.351345,0.088709,0.140855
2014-03-28,24.90,16.240,48.34,58.420,34.400,0.144434,0.336818,0.080043,0.295639,0.143067
2014-03-31,24.80,16.250,49.18,58.920,34.550,NaN,NaN,NaN,NaN,NaN
2014-04-01,24.78,16.330,50.07,59.150,34.820,0.054201,0.057472,0.258929,0.310419,0.318980
2014-04-02,25.76,16.550,49.58,58.730,34.920,0.289205,0.348080,0.152496,0.042607,0.167611
2014-04-03,25.54,16.550,48.31,58.890,34.770,0.388862,0.089495,0.153623,0.111826,0.256193
2014-04-04,25.20,16.500,47.32,58.790,34.540,0.131886,0.087440,0.446896,0.249050,0.084728
2014-04-07,25.06,16.310,46.59,57.840,34.225,NaN,NaN,NaN,NaN,NaN
2014-04-08,24.54,16.260,47.15,58.290,34.600,0.249724,0.154424,0.131783,0.052239,0.411830
2014-04-09,25.62,16.450,48.49,58.740,34.950,0.338565,0.094387,0.181551,0.011734,0.373763
2014-04-10,25.92,16.700,45.97,57.580,34.710,0.063294,0.326711,0.209309,0.321454,0.079232
2014-04-11,25.04,16.560,45.19,56.640,34.310,0.003160,0.147071,0.374212,0.185318,0.290239
2014-04-14,24.46,16.550,45.83,57.660,34.450,NaN,NaN,NaN,NaN,NaN
2014-04-15,23.92,16.395,46.82,57.830,34.260,0.157035,0.036843,0.287466,0.248371,0.270285
2014-04-16,24.08,16.200,47.55,58.980,34.770,0.431811,0.004935,0.029481,0.103381,0.430392
2014-04-17,24.26,16.440,48.49,57.840,34.650,0.189376,0.218509,0.221334,0.229888,0.140893
2014-04-18,24.26,16.440,48.49,57.840,34.650,0.368861,0.083634,0.123832,0.418953,0.004720
2014-04-21,24.26,16.440,48.40,57.840,34.780,NaN,NaN,NaN,NaN,NaN
2014-04-22,25.86,16.485,49.01,57.710,35.030,0.134144,0.122802,0.255766,0.335637,0.151651
2014-04-23,25.62,16.500,48.23,57.470,35.110,0.262388,0.171448,0.247948,0.034522,0.283693
2014-04-24,25.16,16.500,47.72,57.160,35.300,0.200941,0.118012,0.375728,0.066271,0.239048
2014-04-25,24.80,16.450,47.00,56.320,35.340,0.152460,0.101126,0.262230,0.239954,0.244231
2014-04-28,24.16,16.255,46.62,56.640,35.940,NaN,NaN,NaN,NaN,NaN
2014-04-29,26.86,16.340,47.57,57.510,35.605,0.081434,0.224642,0.229671,0.230611,0.233641
2014-04-30,26.48,16.235,48.02,58.240,35.650,0.052035,0.018553,0.372407,0.336793,0.220211
2014-05-01,26.48,16.235,48.42,58.240,35.630,0.387738,0.199164,0.204529,0.039550,0.169020
2014-05-02,25.70,16.200,47.68,57.620,35.480,0.225634,0.204970,0.427584,0.017012,0.124800
2014-05-05,25.88,16.200,47.52,56.580,35.610,NaN,NaN,NaN,NaN,NaN
2014-05-06,25.84,16.240,47.03,56.130,35.220,0.194056,0.304740,0.192036,0.038674,0.270495

In [83]:
f[[i for i in f.columns if "1" in i]]

TypeError: argument of type 'int' is not iterable

In [109]:
pt = kek.prices[start:end]
w = kek.weights[start:end]

# Prices and weights have the different nums of rows.
# So let's use left outer join to prevent an error.
f = pd.merge(pt, w, how='left', left_index=True, right_index=True, suffixes=['0', '1'])
#f = f.fillna(f.mean())

In [112]:
f[[i for i in f.columns if '1' in i]]

,CHF1,EUR1,EUR1,USD1,USD1,EUR1,EUR1,USD1,USD1
date,,,,,,,,,
2014-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-04,0.188509,0.011219,0.117581,0.280615,0.402075,0.011219,0.117581,0.280615,0.402075
2014-02-05,0.208654,0.227626,0.158525,0.192785,0.212410,0.227626,0.158525,0.192785,0.212410
2014-02-06,0.205721,0.052736,0.343435,0.137994,0.260114,0.052736,0.343435,0.137994,0.260114
2014-02-07,0.065086,0.301828,0.240458,0.310149,0.082479,0.301828,0.240458,0.310149,0.082479
2014-02-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-11,0.247983,0.444204,0.048652,0.243792,0.015369,0.444204,0.048652,0.243792,0.015369
2014-02-12,0.015851,0.309983,0.327433,0.135621,0.211113,0.309983,0.327433,0.135621,0.211113
2014-02-13,0.448070,0.241961,0.034937,0.003992,0.271040,0.241961,0.034937,0.003992,0.271040
2014-02-14,0.231040,0.133393,0.396449,0.209130,0.029988,0.133393,0.396449,0.209130,0.029988
2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-18,0.189803,0.243553,0.045214,0.243475,0.277955,0.243553,0.045214,0.243475,0.277955
2014-02-19,0.094493,0.358315,0.069687,0.359784,0.117722,0.358315,0.069687,0.359784,0.117722
2014-02-20,0.141192,0.197459,0.184180,0.171256,0.305913,0.197459,0.184180,0.171256,0.305913
2014-02-21,0.190619,0.028634,0.220732,0.331367,0.228648,0.028634,0.220732,0.331367,0.228648
2014-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-25,0.117818,0.252250,0.313677,0.002987,0.313268,0.252250,0.313677,0.002987,0.313268
2014-02-26,0.224623,0.266772,0.182422,0.073641,0.252541,0.266772,0.182422,0.073641,0.252541
2014-02-27,0.258339,0.277547,0.234654,0.112707,0.116753,0.277547,0.234654,0.112707,0.116753
2014-02-28,0.441111,0.246761,0.059872,0.009508,0.242748,0.246761,0.059872,0.009508,0.242748
2014-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-04,0.295339,0.099257,0.065185,0.461356,0.078863,0.099257,0.065185,0.461356,0.078863
2014-03-05,0.055192,0.178045,0.128127,0.270527,0.368109,0.178045,0.128127,0.270527,0.368109
2014-03-06,0.171128,0.182936,0.076895,0.332453,0.236588,0.182936,0.076895,0.332453,0.236588
2014-03-07,0.122368,0.300809,0.119287,0.352075,0.105461,0.300809,0.119287,0.352075,0.105461
2014-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-11,0.352993,0.315911,0.162712,0.080147,0.088238,0.315911,0.162712,0.080147,0.088238
2014-03-12,0.150708,0.365534,0.166310,0.073625,0.243824,0.365534,0.166310,0.073625,0.243824
2014-03-13,0.056238,0.116906,0.503873,0.062674,0.260309,0.116906,0.503873,0.062674,0.260309
2014-03-14,0.341517,0.171929,0.097028,0.089712,0.299814,0.171929,0.097028,0.089712,0.299814
...,...,...,...,...,...,...,...,...,...
2014-03-26,0.203875,0.276909,0.291553,0.162601,0.065062,0.276909,0.291553,0.162601,0.065062
2014-03-27,0.030517,0.388574,0.088709,0.351345,0.140855,0.388574,0.088709,0.351345,0.140855
2014-03-28,0.144434,0.336818,0.295639,0.080043,0.143067,0.336818,0.295639,0.080043,0.143067
2014-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-01,0.054201,0.057472,0.310419,0.258929,0.318980,0.057472,0.310419,0.258929,0.318980
2014-04-02,0.289205,0.348080,0.042607,0.152496,0.167611,0.348080,0.042607,0.152496,0.167611
2014-04-03,0.388862,0.089495,0.111826,0.153623,0.256193,0.089495,0.111826,0.153623,0.256193
2014-04-04,0.131886,0.087440,0.249050,0.446896,0.084728,0.087440,0.249050,0.446896,0.084728
2014-04-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-08,0.249724,0.154424,0.052239,0.131783,0.411830,0.154424,0.052239,0.131783,0.411830
2014-04-09,0.338565,0.094387,0.011734,0.181551,0.373763,0.094387,0.011734,0.181551,0.373763
2014-04-10,0.063294,0.326711,0.321454,0.209309,0.079232,0.326711,0.321454,0.209309,0.079232
2014-04-11,0.003160,0.147071,0.185318,0.374212,0.290239,0.147071,0.185318,0.374212,0.290239
2014-04-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-15,0.157035,0.036843,0.248371,0.287466,0.270285,0.036843,0.248371,0.287466,0.270285
2014-04-16,0.431811,0.004935,0.103381,0.029481,0.430392,0.004935,0.103381,0.029481,0.430392
2014-04-17,0.189376,0.218509,0.229888,0.221334,0.140893,0.218509,0.229888,0.221334,0.140893
2014-04-18,0.368861,0.083634,0.418953,0.123832,0.004720,0.083634,0.418953,0.123832,0.004720
2014-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-22,0.134144,0.122802,0.335637,0.255766,0.151651,0.122802,0.335637,0.255766,0.151651
2014-04-23,0.262388,0.171448,0.034522,0.247948,0.283693,0.171448,0.034522,0.247948,0.283693
2014-04-24,0.200941,0.118012,0.066271,0.375728,0.239048,0.118012,0.066271,0.375728,0.239048
2014-04-25,0.152460,0.101126,0.239954,0.262230,0.244231,0.101126,0.239954,0.262230,0.244231
2014-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-29,0.081434,0.224642,0.230611,0.229671,0.233641,0.224642,0.230611,0.229671,0.233641
2014-04-30,0.052035,0.018553,0.336793,0.372407,0.220211,0.018553,0.336793,0.372407,0.220211
2014-05-01,0.387738,0.199164,0.039550,0.204529,0.169020,0.199164,0.039550,0.204529,0.169020
2014-05-02,0.225634,0.204970,0.017012,0.427584,0.124800,0.204970,0.017012,0.427584,0.124800
2014-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-06,0.194056,0.304740,0.038674,0.192036,0.270495,0.304740,0.038674,0.192036,0.270495

In [181]:
p = kek.prices[start-kek.day:end].copy()
c = kek.exchanges[start-kek.day:end].copy()

In [182]:
f = pd.merge(p, c, how="left", right_index=True, left_index=True, suffixes=["0", "1"])

In [183]:
f.head()

             CHF0   EUR0    USD    EUR0    USD      EUR1      CHF1
date
2014-01-31  22.30  14.45  51.25  56.760  32.76  1.367830  1.114144
2014-02-03  21.70  14.53  49.33  55.590  32.08  1.367135  1.118881
2014-02-04  21.04  14.40  50.12  55.700  32.01  1.365275  1.115903
2014-02-05  20.60  14.48  49.96  55.528  32.09  1.366400  1.111370
2014-02-06  20.56  14.40  50.96  56.290  32.70  1.355190  1.118193

In [184]:
kek.prices.index in kek.exchanges.index

False

In [185]:
[i.replace("1", "") for i in f.columns if "1" in i]

['EUR', 'CHF']

In [186]:
c = f[[i for i in f.columns if "1" in i]]

In [187]:
c.columns = names

In [188]:
c.head()

                 EUR       CHF
date
2014-01-31  1.367830  1.114144
2014-02-03  1.367135  1.118881
2014-02-04  1.365275  1.115903
2014-02-05  1.366400  1.111370
2014-02-06  1.355190  1.118193

In [189]:
p.head()

              CHF    EUR    USD     EUR    USD
date
2014-01-31  22.30  14.45  51.25  56.760  32.76
2014-02-03  21.70  14.53  49.33  55.590  32.08
2014-02-04  21.04  14.40  50.12  55.700  32.01
2014-02-05  20.60  14.48  49.96  55.528  32.09
2014-02-06  20.56  14.40  50.96  56.290  32.70

In [190]:
for i in c.columns:
    b = p[i].mul(c[i], axis=0)
    p[i] = b

In [191]:
p.head()

                  CHF        EUR    USD        EUR    USD
date
2014-01-31  24.845413  19.765143  51.25  77.638031  32.76
2014-02-03  24.279721  19.864472  49.33  75.999035  32.08
2014-02-04  23.478606  19.659960  50.12  76.045817  32.01
2014-02-05  22.894232  19.785472  49.96  75.873459  32.09
2014-02-06  22.990053  19.514736  50.96  76.283645  32.70

In [192]:
pd.merge(p[start+1:end], kek.weights[start+1:end], how='left', right_index=True, left_index=True)

,CHF_x,EUR_x,USD_x,EUR_x,USD_x,CHF_y,EUR_y,USD_y,EUR_y,USD_y
date,,,,,,,,,,
2014-02-03,24.279721,19.864472,49.33,75.999035,32.080,NaN,NaN,NaN,NaN,NaN
2014-02-04,23.478606,19.659960,50.12,76.045817,32.010,0.188509,0.011219,0.280615,0.117581,0.402075
2014-02-05,22.894232,19.785472,49.96,75.873459,32.090,0.208654,0.227626,0.192785,0.158525,0.212410
2014-02-06,22.990053,19.514736,50.96,76.283645,32.700,0.205721,0.052736,0.137994,0.343435,0.260114
2014-02-07,23.022125,19.361020,51.99,76.000436,32.930,0.065086,0.301828,0.310149,0.240458,0.082479
2014-02-10,22.988253,19.749420,52.28,75.764727,33.120,NaN,NaN,NaN,NaN,NaN
2014-02-11,23.127418,19.905975,52.92,77.583300,33.280,0.247983,0.444204,0.243792,0.048652,0.015369
2014-02-12,23.323745,20.641866,53.77,77.816452,33.210,0.015851,0.309983,0.135621,0.327433,0.211113
2014-02-13,23.699941,20.808587,54.13,78.626828,34.010,0.448070,0.241961,0.003992,0.034937,0.271040
2014-02-14,24.131157,20.863080,54.17,79.429700,34.120,0.231040,0.133393,0.209130,0.396449,0.029988
2014-02-17,24.442097,20.873790,54.17,79.538690,34.120,NaN,NaN,NaN,NaN,NaN
2014-02-18,24.146754,20.894488,54.52,79.596817,34.190,0.189803,0.243553,0.243475,0.045214,0.277955
2014-02-19,23.959163,20.719999,54.47,78.638107,34.260,0.094493,0.358315,0.359784,0.069687,0.117722
2014-02-20,23.701762,20.929406,54.90,79.312871,34.480,0.141192,0.197459,0.171256,0.184180,0.305913
2014-02-21,24.178660,20.867827,55.40,79.349776,34.300,0.190619,0.028634,0.331367,0.220732,0.228648
2014-02-24,24.485267,20.628584,54.47,79.704460,34.400,NaN,NaN,NaN,NaN,NaN
2014-02-25,24.545108,20.886617,54.66,80.120404,33.950,0.117818,0.252250,0.002987,0.313677,0.313268
2014-02-26,24.527303,20.875756,54.72,79.739894,33.920,0.224623,0.266772,0.073641,0.182422,0.252541
2014-02-27,24.754286,20.919721,54.28,79.714426,33.850,0.258339,0.277547,0.112707,0.234654,0.116753
2014-02-28,25.268364,21.089365,52.48,79.782373,34.030,0.441111,0.246761,0.009508,0.059872,0.242748
2014-03-03,24.701932,20.874920,51.67,77.676676,33.800,NaN,NaN,NaN,NaN,NaN
2014-03-04,25.759280,20.797093,53.50,79.078437,34.310,0.295339,0.099257,0.461356,0.065185,0.078863
2014-03-05,25.935658,20.705556,53.44,78.005070,34.330,0.055192,0.178045,0.270527,0.128127,0.368109
2014-03-06,26.879547,21.044082,53.74,78.349792,34.880,0.171128,0.182936,0.332453,0.076895,0.236588
2014-03-07,26.882811,20.855880,53.61,77.571174,35.080,0.122368,0.300809,0.352075,0.119287,0.105461
2014-03-10,27.122884,21.030964,52.59,76.582381,35.080,NaN,NaN,NaN,NaN,NaN
2014-03-11,26.954026,21.984640,52.81,76.836317,34.970,0.352993,0.315911,0.080147,0.162712,0.088238
2014-03-12,26.140699,21.593385,52.34,75.810364,34.900,0.150708,0.365534,0.073625,0.166310,0.243824
2014-03-13,26.062892,21.899985,50.47,74.834189,34.530,0.056238,0.116906,0.062674,0.503873,0.260309
2014-03-14,25.498558,21.991399,50.47,75.131501,34.250,0.341517,0.171929,0.089712,0.097028,0.299814
...,...,...,...,...,...,...,...,...,...,...
2014-03-26,28.535446,22.075331,48.68,79.413135,34.170,0.203875,0.276909,0.162601,0.291553,0.065062
2014-03-27,28.172854,22.182580,48.28,79.705730,34.210,0.030517,0.388574,0.351345,0.088709,0.140855
2014-03-28,28.176989,22.401294,48.34,80.583964,34.400,0.144434,0.336818,0.080043,0.295639,0.143067
2014-03-31,28.094025,22.485369,49.18,81.528488,34.550,NaN,NaN,NaN,NaN,NaN
2014-04-01,28.135912,22.578593,50.07,81.783452,34.820,0.054201,0.057472,0.258929,0.310419,0.318980
2014-04-02,29.181535,22.820216,49.58,80.980741,34.920,0.289205,0.348080,0.152496,0.042607,0.167611
2014-04-03,28.861693,22.744748,48.31,80.932821,34.770,0.388862,0.089495,0.153623,0.111826,0.256193
2014-04-04,28.423831,22.692120,47.32,80.852711,34.540,0.131886,0.087440,0.446896,0.249050,0.084728
2014-04-07,28.256997,22.467759,46.59,79.677203,34.225,NaN,NaN,NaN,NaN,NaN
2014-04-08,27.757047,22.427581,47.15,80.399980,34.600,0.249724,0.154424,0.131783,0.052239,0.411830
2014-04-09,28.995185,22.644823,48.49,80.860603,34.950,0.338565,0.094387,0.181551,0.011734,0.373763
2014-04-10,29.228358,22.908225,45.97,78.985365,34.710,0.063294,0.326711,0.209309,0.321454,0.079232
2014-04-11,28.096948,22.698461,45.19,77.635315,34.310,0.003160,0.147071,0.374212,0.185318,0.290239
2014-04-14,27.406168,22.743838,45.83,79.239255,34.450,NaN,NaN,NaN,NaN,NaN
2014-04-15,26.942702,22.615263,46.82,79.770702,34.260,0.157035,0.036843,0.287466,0.248371,0.270285
2014-04-16,27.252613,22.439916,47.55,81.697916,34.770,0.431811,0.004935,0.029481,0.103381,0.430392
2014-04-17,27.574919,22.829406,48.49,80.319516,34.650,0.189376,0.218509,0.221334,0.229888,0.140893
2014-04-18,27.678272,22.827269,48.49,80.311997,34.650,0.368861,0.083634,0.123832,0.418953,0.004720
2014-04-21,27.656180,22.721724,48.40,79.940664,34.780,NaN,NaN,NaN,NaN,NaN
2014-04-22,29.390539,22.771967,49.01,79.719151,35.030,0.134144,0.122802,0.255766,0.335637,0.151651
2014-04-23,29.107027,22.795822,48.23,79.398541,35.110,0.262388,0.171448,0.247948,0.034522,0.283693
2014-04-24,28.532871,22.792357,47.72,78.958252,35.300,0.200941,0.118012,0.375728,0.066271,0.239048
2014-04-25,28.084799,22.723043,47.00,77.797069,35.340,0.152460,0.101126,0.262230,0.239954,0.244231
2014-04-28,27.351976,22.419871,46.62,78.121286,35.940,NaN,NaN,NaN,NaN,NaN
2014-04-29,30.349254,22.556553,47.57,79.389679,35.605,0.081434,0.224642,0.229671,0.230611,0.233641
2014-04-30,29.922595,22.433523,48.02,80.476032,35.650,0.052035,0.018553,0.372407,0.336793,0.220211
2014-05-01,29.970010,22.455765,48.42,80.555821,35.630,0.387738,0.199164,0.204529,0.039550,0.169020
2014-05-02,29.147741,22.411890,47.68,79.714389,35.480,0.225634,0.204970,0.427584,0.017012,0.124800
2014-05-05,29.382386,22.437810,47.52,78.366129,35.610,NaN,NaN,NaN,NaN,NaN
2014-05-06,29.352297,22.431338,47.03,77.529001,35.220,0.194056,0.304740,0.192036,0.038674,0.270495

In [317]:
import pandas as pd
import numpy as np


class Assignment:
    day = pd.to_timedelta("1day")
    days = pd.to_timedelta("4day")

    def __init__(self):
        self.prices = pd.read_csv("data//prices.csv", index_col=0)
        self.exchanges = pd.read_csv("data//exchanges.csv", index_col=0)
        self.currencies = pd.read_csv("data//currencies.csv")
        self.weights = pd.read_csv("data//weights.csv", index_col=0)
        
        # Decided to fill NaN with the mean.
        self.prices.fillna(self.prices.mean(), inplace=True)
        self.exchanges.fillna(self.exchanges.mean(), inplace=True)
        self.weights.fillna(self.weights.mean(), inplace=True)
        
        # The right order of the columns.
        self.prices = self.prices[list(self.currencies.iloc[:, 0])]
        self.weights = self.weights[self.prices.columns]

        # Readable tags.
        self.prices.columns = self.currencies.currency.values
        self.weights.columns = self.currencies.currency.values

        self.exchanges.index = pd.to_datetime(self.exchanges.index)
        self.weights.index = pd.to_datetime(self.weights.index)
        self.prices.index = pd.to_datetime(self.prices.index)

    def calculate_asset_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        pt = self.prices[start_date:end_date]
        pt0 = self.prices[start_date - self.days:end_date].values
        pt0 = pt0[len(pt0)-len(pt)-1:-1, :]
        w = self.weights[start_date:end_date]
        w.columns = range(len(w.columns))

        # Prices and weights have the different nums of rows.
        # So let's use left outer join to prevent an error.
        f = pd.merge(pt, w, how='left', left_index=True, right_index=True)
        w = f[[i for i in f.columns if isinstance(i, int)]]

        # Decided to fillna with the mean.
        w = w.fillna(w.mean()).values
        
        print(len(pt))
        r = (pt.values - pt0) / pt0
        rs = (r*w).sum(axis=1)
        print(len(rs))
        p = np.empty(len(rs)+1)
        p[0] = 1
        for i in range(1, len(p)):
            p[i] = p[i-1] * (1 + rs[i-1])
        print(len(p))
        return pd.Series(p[1:])

    def calculate_currency_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        ct = self.exchanges[start_date:end_date]
        # In case if the previous period is 2 or 3 days earlier
        ct0 = self.exchanges[start_date-self.days:end_date].values
        print(len(ct0))
        print(len(ct))
        ct0 = ct0[len(ct0)-len(ct)-1:-1, :]
        
        # To sum up the EUR weights.
        w = self.weights[start_date:end_date][self.exchanges.columns].groupby(level=0, axis=1).sum()
        w.columns = range(len(w.columns))

        # Same stuff.
        f = pd.merge(ct, w, how='left', left_index=True, right_index=True)
        w = f[[i for i in f.columns if isinstance(i, int)]]
        w = w.fillna(w.mean()).values

        cr = (ct.values-ct0) / ct0
        crs = (cr*w).sum(axis=1)
        cp = np.empty(len(crs)+1)
        cp[0] = 1
        for i in range(1, len(cp)):
            cp[i] = cp[i-1] * (1+crs[i-1])
        return pd.Series(cp[1:])

    def calculate_total_performance(self, start_date: np.datetime64, end_date: np.datetime64) -> pd.Series:
        end_date += self.day
        # To prevent SettingWithCopyWarning
        p = self.prices[start_date-self.days:end_date].copy()
        c = self.exchanges[start_date-self.days:end_date].copy()

        f = pd.merge(p, c, how="left", right_index=True, left_index=True, suffixes=["0", "1"])
        c = f[[i for i in f.columns if "1" in i]]
        c.columns = self.exchanges.columns
        for i in c.columns:
            p[i] = p[i].mul(c[i], axis=0)

        ptc = p[start_date:end_date].values
        print(len(ptc), len(p))
        ptc0 = p.values[len(p)-len(ptc)-1:-1, :]
        tr = (ptc-ptc0) / ptc0

        w = self.weights[start_date:end_date]
        w.columns = range(len(w.columns))
        f = pd.merge(p[start_date:], w, how='left', left_index=True, right_index=True)
        w = f[[i for i in f.columns if isinstance(i, int)]]
        w = w.fillna(w.mean()).values

        trs = (tr*w).sum(axis=1)
        tp = np.empty(len(trs)+1)
        tp[0] = 1
        for i in range(1, len(tp)):
            tp[i] = tp[i-1] * (1+trs[i-1])
        return pd.Series(tp[1:])

In [318]:
lol = Assignment()

In [319]:
#lol.prices[np.datetime64('2014-02-01'):np.datetime64('2015-05-06') ]

In [320]:
len(lol.prices[np.datetime64('2000-02-01'): np.datetime64('2050-01-01')])

1091

In [321]:
len(kek.prices)

1091

In [322]:
lol.calculate_total_performance(np.datetime64('2000-02-01'), np.datetime64('2050-01-01'))

1091 1091

ValueError: operands could not be broadcast together with shapes (1091,5) (0,5)

In [224]:
lol.prices

               CHF    EUR     USD     EUR    USD
date
2014-01-13   22.60  14.27   51.57  60.750  35.20
2014-01-14   22.60  14.30   52.64  60.440  35.40
2014-01-15   22.84  14.27   53.29  60.990  35.70
2014-01-16   22.90  14.31   53.60  60.913  35.70
2014-01-17   22.74  14.41   53.24  60.730  35.25
2014-01-20   23.10  14.46   53.24  60.780  35.25
2014-01-21   22.88  14.48   53.30  59.980  34.45
2014-01-22   22.90  14.45   52.37  59.170  34.45
2014-01-23   22.50  14.25   51.86  57.800  34.45
2014-01-24   21.52  14.39   50.44  56.430  33.65
2014-01-27   21.66  14.40   50.59  57.150  33.61
2014-01-28   21.50  14.37   51.24  56.840  33.73
2014-01-29   21.64  14.39   49.65  56.390  32.99
2014-01-30   22.72  14.42   51.52  57.410  32.93
2014-01-31   22.30  14.45   51.25  56.760  32.76
2014-02-03   21.70  14.53   49.33  55.590  32.08
2014-02-04   21.04  14.40   50.12  55.700  32.01
2014-02-05   20.60  14.48   49.96  55.528  32.09
2014-02-06   20.56  14.40   50.96  56.290  32.70
2014-02-07   20.78  14.35   51.99  56.330  32.93
2014-02-10   20.84  14.60   52.28  56.010  33.12
2014-02-11   20.84  14.73   52.92  57.410  33.28
2014-02-12   21.08  15.25   53.77  57.490  33.21
2014-02-13   21.42  15.31   54.13  57.850  34.01
2014-02-14   21.74  15.30   54.17  58.250  34.12
2014-02-17   21.96  15.30   54.17  58.300  34.12
2014-02-18   21.66  15.32   54.52  58.361  34.19
2014-02-19   21.52  15.24   54.47  57.840  34.26
2014-02-20   21.34  15.30   54.90  57.980  34.48
2014-02-21   21.60  15.24   55.40  57.950  34.30
...            ...    ...     ...     ...    ...
2018-01-24   76.82  27.06  116.90  92.260  44.59
2018-01-25   76.80  26.90  116.87  90.770  44.47
2018-01-26   76.58  27.00  117.78  92.080  44.42
2018-01-29   89.54  26.92  116.38  91.280  44.54
2018-01-30   85.90  26.64  115.02  89.500  44.34
2018-01-31   85.88  26.78  115.62  90.960  44.40
2018-02-01   90.08  26.92  115.57  89.300  45.87
2018-02-02   90.24  26.80  111.64  87.640  45.50
2018-02-05   87.14  26.82  109.18  85.410  43.94
2018-02-06   98.60  26.30  112.62  87.350  44.55
2018-02-07  103.65  27.56  110.54  86.000  44.05
2018-02-08  107.70  27.16  104.81  83.230  42.68
2018-02-09  103.50  27.16  105.94  83.530  42.14
2018-02-12  104.70  27.34  108.38  83.420  42.53
2018-02-13  105.60  27.28  109.79  83.140  42.80
2018-02-14  110.25  27.50  109.92  84.440  42.96
2018-02-15  114.10  27.56  113.52  84.260  44.08
2018-02-16  109.80  28.12  112.95  84.420  44.14
2018-02-19  109.90  27.92  112.95  84.030  44.14
2018-02-20  110.85  28.24  114.27  84.500  43.76
2018-02-21  111.20  28.28  112.37  84.060  43.62
2018-02-22  109.00  28.18  112.39  84.300  43.51
2018-02-23  111.15  28.04  115.03  84.860  43.75
2018-02-26  109.20  28.06  116.92  85.250  44.77
2018-02-27  111.50  27.84  116.12  85.260  44.01
2018-02-28  111.85  27.88  117.47  85.610  43.90
2018-03-01  108.80  27.60  114.74  83.170  43.62
2018-03-02  105.45  27.16  116.28  83.030  44.42
2018-03-03     NaN    NaN     NaN     NaN    NaN
2018-03-05  110.60  27.34  118.87  84.650  45.06

[1091 rows x 5 columns]